<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>401 Unauthorized</title>
<link rel="shortcut icon" href="../static/imagens/soft_forge_logo" type="image/x-icon">
<link rel="stylesheet" href="../static/css/404style.css">
</head>
<body>
  <div class="container">
    <h1>401 Unauthorized</h1>
    <p>O servidor não conseguiu verificar se você está autorizado a acessar o URL solicitado. Você forneceu as credenciais erradas (por exemplo, uma senha incorreta)</p>
    <p>Retorne a <a href="/">home</a>.</p>
  </div> 
</body>
</html>
