<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>404 Not Found</title>
<link rel="shortcut icon" href="../static/imagens/soft_forge_logo" type="image/x-icon">
<link rel="stylesheet" href="../static/css/404style.css">
</head>
<body>
  <div class="container">
    <h1>404 Not Found</h1>
    <p>A página que você procura não foi encontrada.</p>
    <p>Retorne a <a href="/">home</a>.</p>
  </div> 
</body>
</html>
