{% extends "homepage.html" %}

{% block titulo %}
            Criar Conta - HMS
{% endblock %}

{% block form %}

<form method="POST">

    {{ form.csrf_token }}

        {{form.email.label()}}
        {{form.email()}}

        {{form.username.label()}}
        {{form.username()}}
        
        {{form.senha.label()}}
        {{form.senha()}}

        {{form.cargo.label()}}
        {{form.cargo()}}

        {{form.confirmacao_senha.label()}}
        {{form.confirmacao_senha()}}

        {{form.botao_confirmacao()}}
        

</form>

{% endblock %}