<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS - Funcionarios</title>
    <link rel="shortcut icon" href="../static/img/soft_forge_logo" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styleFuncionarios.css" />
</head>
<body>
    <img src="../static/img/soft_forge_logo"
                alt="Home"
                width="80"
                height="80"
                class="img-logo"
            />
    <div class="main-container">
        <a href="home" class="btn-back">Voltar</a>
        <div class="content-container">
            <div class="title-box">
                <h1>Funcionários</h1>
            </div>
            <div class="content-box">
                <form method="POST">
                    <div>
                        <div class="add-form">
                            <div class="form-div-box">
                                <label for="filtro_cargo">Filtrar por cargo:</label>
                                <select name="filtro_cargo" id="filtro_cargo">
                                    <option value="">Todos</option>
                                    <option value="gerente">Gerente</option>
                                    <option value="atendente">Atendente</option>
                                    <option value="funcionario">Funcionário</option>
                                </select>
                            </div>
                            
                        </div>
                       
                        <div class="form-div-box">
                            <label for="termo_pesquisa">Pesquisar por nome ou email:</label>
                            <input type="text" name="termo_pesquisa" id="termo_pesquisa">
                            <button type="submit" class="btn-confirm">Pesquisar</button>
                        </div>
                        
                    </div>
                    
                </form>

                <div class="form-div-box">
                    <table class="table" border="1">
                        <tr>
                            <td>Usuário</td>
                            <td>Email</td>
                            <td>Cargo</td>
                        </tr>
                
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.cargo }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            
               
            
            </div>
            
        </div>
    
    
    </div>
    
</body>
</html>
