<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS - Reservas</title>
    <link rel="shortcut icon" href="../static/img/soft_forge_logo" type="image/x-icon">
</head>
<body>
    <h1>Reservas</h1>

    <table border="1">
        <form method="POST" action="{{ url_for('criar_quarto') }}">
            <strong>Adicionar novo quarto</strong> 
            <br>
            {{ form_quarto.csrf_token }}
            {{ form_quarto.quarto.label() }}
            {{ form_quarto.quarto() }}
            {{ form_quarto.detalhes.label() }}
            {{ form_quarto.detalhes() }}
            {{ form_quarto.botao_confirmacao }}
        </form> 
        <br><br>
        <form method="POST" action="{{ url_for('filtrar_quartos') }}">
            <strong>Filtrar por Status</strong>
            <br>
            <button type="submit" name="status" value="reservado">Reservados</button>
            <button type="submit" name="status" value="liberado">Liberados</button>
            <button type="submit" name="status" value="reservas">Todos</button>
        </form>
        <tr>
            <td>Id</td>
            <td>Nº Quarto</td>
            <td>Hospede</td>
            <td>Check-in</td>
            <td>Check-out</td>
            <td>Detalhes</td>
            <td>Status</td>
            <td>Excluir Reserva</td>
            <td>Ações</td>
        </tr>
        {% for quarto in tabela_quartos %}
            <tr>
                <td>{{ quarto.id }}</td>
                <td>{{ quarto.quarto }}</td>
                <td>{{ quarto.hospede or "-" }}</td>
                <td>{{ quarto.check_in.strftime("%d/%m/%Y %H:%M") if quarto.check_in else "-" }}</td>
                <td>{{ quarto.check_out.strftime("%d/%m/%Y %H:%M") if quarto.check_out else "-" }}</td>
                <td>{{ quarto.detalhes }}</td>
                <td>{{ "Reservado" if quarto.status else "Liberado" }}</td>
                <td><a href="{{ url_for('excluir_info', quarto_id=quarto.id) }}">Excluir</a></td>
                <td>
                    <a href="{{ url_for('editar_quarto', quarto_id=quarto.id) }}">Editar</a>
                    <a href="{{ url_for('excluir_quarto', quarto_id=quarto.id) }}">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br><br>

    <form method="POST" action="{{ url_for('reservar_quarto') }}">
        <strong>Reservar quarto</strong> 
        <br>
        {{ form_reserva.csrf_token }}
    
        {{ form_reserva.id.label }}
        {{ form_reserva.id }}
    
        {{ form_reserva.hospede.label }}
        {{ form_reserva.hospede }}
        
        {{ form_reserva.check_out.label }}
        {{ form_reserva.check_out }}
        
        {{ form_reserva.check_out_time.label }}
        {{ form_reserva.check_out_time }}
    
        {{ form_reserva.botao_confirmacao }}
    </form>
    <br><br>

    <a href="home">Voltar</a>
</body>
</html>
