<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS - Reservas</title>
    <link rel="shortcut icon" href="../static/imagens/soft_forge_logo" type="image/x-icon">
</head>
<body>
    <h1>Reservas</h1>

    <table border="1">
        <tr>
            <td>Id</td>
            <td>Quartos</td>
            <td>Hospede</td>
            <td>Check-in</td>
            <td>Check-out</td>
            <td>Detalhes</td>
            <td>Status</td>
        </tr>
    
        {% for quarto in tabela_quartos %}

            <tr>
                <td>{{quarto.id}}</td>
                <td>{{quarto.quarto}}</td>
                <td>{{quarto.hospede}}</td>
                <td>{{quarto.check_in}}</td>
                <td>{{quarto.check_out}}</td>
                <td>{{quarto.detalhes}}</td>
                <td>{{ "Reservado" if quarto.status == True else "Liberado" }}</td>
            </tr>
        {% endfor %}

    </table>

<br><br>
<form method="POST">

    {{ form_quarto.csrf_token }}

    {{ form_quarto.quarto.label() }}
    {{ form_quarto.quarto() }}
    
    {{ form_quarto.detalhes.label() }}
    {{ form_quarto.detalhes() }}
    
    {{ form_quarto.botao_confirmacao }}

</form>
<br><br>

<br><br>
<form action="{{ url_for('reservar_quarto') }}" method="PATCH">

    {{ form_reserva.csrf_token }}

    {{form_reserva.botao_confirmacao}}

</form>
<br><br>
    <a href="telaHome">Voltar</a>
</body>
</html>
