<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS - Reservas</title>
    <link rel="shortcut icon" href="../static/imagens/soft_forge_logo" type="image/x-icon">
</head>
<body>
    <h1>Reservas</h1>

    <table border="1">
        <tr>
            <td>Quartos</td>
            <td>Preço</td>
            <td>Hospede</td>
            <td>Check-in</td>
            <td>Check-out</td>
            <td>Detalhes</td>
            <td>Check-out</td>
            <td>Observação</td>
            <td>Status</td>
        </tr>
    
        <tr>

        </tr>

    </table>



    <a href="telaHome">Voltar</a>
</body>
</html>