<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styleHome.css">
</head>
    
<body>
    <div class="header">
        <div class="img-title">
            <img src="../static/imagens/soft_forge_logo.png" alt="Home" width="80" height="80" class="img-home">
            <h1 class="title-h1">Bem-vindo a Home</h1>
        </div>
        <div class="sair">
            logout
        </div>
    </div>
    <div class="head">         
        <div class="head-card">
           <h1>Tarefas</h1>
           <a class="btn-a">acessar</a>
        </div>
        <div class="head-card">
            <h1>Reservas</h1>
            <a class="btn-a">acessar</a>
        </div>
        <div class="head-card">
            <h1>Funcinários</h1>
            <a class="btn-a">acessar</a>
        </div>          
    </div>
    <div class="rodape">
        <footer> &reg; by SoftForge-2023 </footer>
    </div>
        
</body>
</html>