* {
    font-family: 'Times New Roman', Times, serif;
}


body{
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(9,92,92,1) 0%, rgba(9,69,121,1) 0%, rgba(0,212,255,1) 100%);
}

.main-container {
    position: relative;
    text-align: center;
}

.btn-back {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    display: block;
    background-color: rgb(246, 255, 0);
    border-radius: 8px;
    padding: 8px;
    left: 4%;
    top: 4%;
    color: black;
}

.content-box {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}

.table {
    background-color: white;
}

.table td {
    padding:5px;
}

.img-logo {
    position: absolute;
    bottom: 2%;
    right: 2%;
}